.noItem {
  display: flex;
  justify-content: center;
}
.table th,
.table td {
  padding: 1rem;
  text-align: left;
}
.expiry {
  color: red;
  font-style: bold;
}
.table th {
  background: var(--light-color);
}
@media only screen and (max-width: 800px) {
  table tr {
    border: 1px solid #ccc;
    width: 500px;
  }
}
@media only screen and (max-width: 500px) {
  .table th,
  .table td {
    padding-left: 50%;
    text-align: left;
  }
  /* Force table to not be like tables anymore */
  table table,
  table thead,
  table tbody,
  table th,
  table td,
  table tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  table tr {
    border: 1px solid #ccc;
    width: 300px;
  }

  table td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }

  table td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }

  /*
Label the dat a
*/
  table td:before {
    content: attr(data-title);
    padding: 15px;
  }
}
